project:
  type: website
  output-dir: docs

website:
  title: "Johanna Jansen"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Experience and Publications
      - href: Resume (Jansen, Johanna).pdf
        text: CV

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

execute:
  freeze: auto
